<h1>Facebook</h1>
<hr>
<div class="well bs-component">
    <form class="form-horizontal">
        <fieldset>
           	    <div class="form-group">
           	        <label class="search-label col-md-10">Search on Facebook: </label>
                        <div class="row">
                            <div class="col-md-6">
           	                    <input type="text" id='input-tagname-input' class="form-control" placeholder="What do you want to see on Facebook?..">
                            </div>
                            <div class="col-md-2">
           	                    <button href="#/facebook" class="btn btn-success" id='search-tagname-btn'>Go!</button id="">      
                            </div>  
                        </div>            
           	    </div>
        </fieldset>
    </form>
</div>
<hr>

<!--Template is not ready - facebook data needed.-->
{{#if obj}}
{{#obj}}
<div class="panel panel-default">
                <div class="panel-heading">
                    <img class="img-rounded img-responsive" src="{{authorImage}}"></img>
                    <a tag='{{author}}' class='redirect-to-profile' href="#/{{url}}">{{author}}</a>
                </div>
                <div class="panel-body">
                    <p>{{text}}</p>
                    <footer>
                        <a href="#/{{url}}">See more</a>
                    </footer>
                </div>
              </div>
  <hr>
{{/obj}}
{{else}}
<div class="alert alert-dismissible alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Hey, </strong>you can <a href="#/facebook-login" class="alert-link">add your Facebook favourite posts here. Just login to your Facebook account</a>.
              </div>
{{/if}}


