<h1>Instagram</h1>
<hr>
<div class="well bs-component">
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label class="search-label">Search by #tagname or username: </label>
                <input type="text" id='input-tagname-input' class="input group" placeholder="What do you want to see?">
                <button class="btn btn-success" id='search-tagname-btn'>Go!</button id="">
            </div>
        </fieldset>
    </form>
</div>
<hr>
<br><br><br>
{{#data}}
    <p><a tag='{{username}}' class='redirect-to-profile' href="#/instagram/user={{username}}">{{full_name}} ({{username}})</a></p>
    <img src="{{profile_picture}}"></img>
    
    <hr>
    <br>
{{/data}}

