<h1>Instagram</h1>
<hr>
<div class="well bs-component">
    <form class="form-horizontal">
        <fieldset>
           	    <div class="form-group">
           	        <label class="search-label col-md-10">Search by #tagname or username: </label>
                        <div class="row">
                            <div class="col-md-6">
           	                    <input type="text" id='input-tagname-input' class="form-control" placeholder="What do you want to see on Instagram?..">
                            </div>
                            <div class="col-md-2">
           	                    <button class="btn btn-success" id='search-tagname-btn'>Go!</button id="">      
                            </div>  
                        </div>            
           	    </div>
        </fieldset>
    </form>
</div>
<hr>

<div class="content-fluid">
    {{#each data}}
    <div class="panel panel-default list-group-item-text">
        <div class="row">
            <div class="panel-heading col-md-4">
                <img class="img-rounded img-responsive" src="{{profile_picture}}"></img>
            </div>
            <div class="panel-body col-md-8">
                    <a tag='{{username}}' class='redirect-to-profile' href="#/instagram/user={{username}}">{{full_name}} ({{username}})</a>
                    <br>
                    <strong class="footer"><a href="#/instagram/user={{username}}">See more</a></strong>
            </div>
        </div>
    </div>
</div> 
    {{/each}} 
<div>

