<h1>Instagram</h1>
<hr>
<div class="well bs-component">
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label class="search-label">Search by #tagname or username: </label>
                <input type="text" id='input-tagname-input' class="input group" placeholder="What do you want to see?">
                <button class="btn btn-success" id='search-tagname-btn'>Go!</button id="">
            </div>
        </fieldset>
    </form>
</div>
<hr>
<br><br><br>
{{#data}}
    <p><a>{{user.full_name}}</a>: {{caption.text}}</p>
    <img src="{{images.standard_resolution.url}}"></img>
    <p><strong>{{likes.count}}</strong> &#128077;</p>
    {{#tags}}
        <a href="#/instagram/tag={{this}}">#{{this}}</a>
    {{/tags}}
    <hr>
    <br>
{{/data}}

