<h1>Twitter</h1>
<hr>
<div class="well bs-component">
    <form class="form-horizontal">
        <fieldset>
           	    <div class="form-group">
           	        <label class="search-label col-md-10">Search: </label>
                        <div class="row">
                            <div class="col-md-6">
           	                    <input type="text" id='search-input' class="form-control" placeholder="What do you want to see on Twitter?..">
                            </div>
                            <div class="col-md-2">
           	                    <button class="btn btn-success" id='search-btn'>Go!</button>      
                            </div>  
                        </div>            
           	    </div>
        </fieldset>
        <fieldset>
           	    <div class="form-group">
           	        <label class="search-label col-md-10">Post: </label>
                        <div class="row">
                            <div class="col-md-6">
           	                    <input type="text" id='post-input' class="form-control" placeholder="What do you want to see on Twitter?..">
                            </div>
                            <div class="col-md-2">
           	                    <button class="btn btn-success" id='post-btn'>Post</button>      
                            </div>  
                        </div>            
           	    </div>
        </fieldset>
    </form>
</div>
<hr>

{{#if twits}}
{{#twits}}
<div class="panel panel-default">
                <div class="panel-heading">
                    <img class="img-rounded img-responsive" src="{{authorImage}}"></img>
                    <a tag='{{author}}' class='redirect-to-profile' href="#/{{url}}">{{author}}</a>
                </div>
                <div class="panel-body">
                    <p>{{text}}</p>
                    {{#if image}}
                    <img class="img-rounded img-responsive" src="{{image}}" alt="image">
                    {{/if}}
                    <div class="row">
                        <div class="col-md-7">
                            <strong class="footer"><a href="{{url}}">See more</a></strong>
                        </div>
                        <div class="col-md-5">
                            <p class="footer">{{date}}</p>
                        </div>
                    </div>
                </div>
              </div>
  <hr>
{{/twits}}
{{else}}
<div class="alert alert-dismissible alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Hey, </strong>you can <a href="#/twitter-login" class="alert-link">add your tweets here. Just login to your Twitter account</a>.
              </div>
{{/if}}



